/**
 * The primary CSS file for the StyledSelect widget.
 *
 * @version		1.1.6
 */

/**
 * Provides basic focus styles - a dark grey shadow outline - on the new styled
 * select widget.
 */
select.original_select_now_styled:focus + div.styled_select {
	box-shadow: 0 0 4px 1px #888888;
	-webkit-box-shadow: 0 0 4px 1px #888888;
	-moz-box-shadow: 0 0 4px 1px #888888;
}

/**
 * The original select element, with a 'original_select_now_styled' class, will
 * be given a pointer, position absolutely, with 0 opacity/alpha. Default 16px
 * tall with 14px line height for vertical-align.
 */
select.original_select_now_styled {
	position:absolute;
	z-index:4;
	cursor:pointer;
	line-height: 14px;
	height:16px;
	opacity:0;
	/* For IE7 */
	zoom:1;
	*display:inline;
	filter:alpha(opacity=0);
	/* For IE8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/**
 * The replacement widget element will have the same height and line-height
 * as the original select element, and be displayed inline-block.
 */
div.styled_select {
	position:relative;
	cursor:pointer;
	display:inline-block;
	text-align:left;
	height:16px;
	line-height: 14px;
	/* For IE7 */
	zoom:1;
	*display:inline;
	/* For IE7 and IE8 */
	*line-height:16px;
}

/**
 * Both the selected option display element and the indicator dropdown arrow span
 * should be displayed inline-block.
 */
div.styled_select div.styled_select_option_display,
div.styled_select span.styled_select_arrow {
	display:inline-block;
	/* For IE7 */
	zoom:1;
	*display:inline;
}

/**
 * The selected option display element shoud have its overflow hidden and a text
 * indent of 4px.
 */
div.styled_select div.styled_select_option_display {
	overflow:hidden;
	text-indent:4px;
	text-align:left;
}

/**
 * The indicator dropdown arrow span should be positioned to the far right of its
 * the replacement widget element with a left border, a 1px top offset, and 28px width.
 */
div.styled_select span.styled_select_arrow {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-repeat:no-repeat;
	background-size:7px 6px;
	background-position:center center;
	width:13px;
	height:100%;
	position:absolute;
	right:0px;
	*top:1px; /* For IE7 */
}